@font-face {
	font-family: "Montserrat";
	src: url(fonts/Montserrat-Regular.ttf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	scroll-behavior: smooth;
}

html,body {
	height: 100%;
}

h1 {
	font-size: 5vh;
	color:whitesmoke;
}

h2 {
	font-size: 3vh;
	color: whitesmoke;
}

h3 {
	color: whitesmoke;
	font-size: 2.25vw;
}

mark {
	background: none;
	color:white;
	animation: color-change 12.5s ease infinite;
}

.arthur {
    width: 8rem;
    border-radius: 8rem;
	margin: 1rem 0 0 1rem;
}

.about,.skills,.projects,.contact {
	position: relative;
	font-size: 2vw;
	background-color: rgb(56, 56, 56);
	background-size: 100% 100%;
	height: 100%;
	overflow: hidden;
	color: whitesmoke;
}

.about {	
	text-align: left;
	padding: 15vh 5vw 0 5vw;
}

.about span {
	display: block;
	width: 12vw;
	height: 0.25rem;
	border-radius: 0.25rem;
	background: #ff4d5a;
}

.about p {
	padding-top: 1vh;
	font-size: 2vw;
	font-weight: bold;
}

.programming {
	width: 30vw;
	height: 40vh;
	position: relative;
	padding-top: 1vh;
}

.programming2 {
	width: 50vw;
	height: 40vh;
	position: relative;
	padding-left: 10vw;
}

.navbar {
	font-weight: bold;
}

.navbar ul{
	list-style-type: none;
	overflow: hidden;
	background-color: rgb(56, 56, 56);
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar li {
	float:right;
}

.navbar a, .navbar p {
	float: left;
	color: whitesmoke;
	text-align: center;
	padding: 1vh 0.75vw;
	text-decoration: none;
	display: inline;
	user-select: none;
}

.navbar li > a:hover {
	background-color: #ff4d5a;
	transition: all 500ms ease;
	border-radius: 4rem;
}

.hero-section{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: back-gradient 12.5s ease infinite;
	height: 100%;
	position: relative;
	text-align: center;
	padding-top: 30vh;
	text-shadow: .25rem .25rem .25rem rgb(88, 88, 88);
	user-select: none;
}

.skills h3 {
	text-align: center;
	padding-top: 15vh;
}

.skills span {
	position: absolute;
	left: 45vw;
	display: block;
	width: 9vw;
	height: 0.25rem;
	border-radius: 0.25rem;
	background: #ff4d5a;
}

.skills ul{
	font-size: 25%;
	font-weight: bold;
	border-radius: 1rem;
	text-align: center;
	list-style: none;
	width: 10vw;
	height: 17vh;
	box-shadow: 0 0 0.2rem rgb(253, 241, 171);
	margin-top: 20vh;
	scale: 250%;
}

.skills .sktop {
	font-weight: bold;
}

.skills ul:hover {
	transition: all .25s linear;
	scale: 260%
}

.skills li {
	margin-top: 1vh;
	font-weight: normal;
}

.technical {
	position: absolute;
	left: 18vw;
	background: #085078; 
	background: linear-gradient(-45deg, #f403d1, #64b5f6);
}

.sktools {
	position: absolute;
	left: 45vw;
	background: linear-gradient(-45deg, #ffec61, #f321d7);
}

.otskills {
	position: absolute;
	left: 72vw;
	background: linear-gradient(-45deg, #9a4eff, #ffec61);
}

@keyframes back-gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

@keyframes color-change {
	0% {color: #ee7752;}
	50% {color:greenyellow;}
	100% {color: #ee7752;}
  }

