@font-face {
	font-family: "Montserrat";
	src: url(fonts/Montserrat-Regular.ttf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	scroll-behavior: smooth;
}

a { 
	color: inherit;
	text-decoration: none;
 } 

html,body {
	height: 100%;
}

h1 {
	font-size: 5vh;
	color:whitesmoke;
}

h2 {
	font-size: 3vh;
	color: whitesmoke;
}

h3, h4, h5, h6{
	color: whitesmoke;
	font-size: 2.25vw;
}

mark {
	background: none;
	color:white;
	animation: color-change 12.5s ease infinite;
}

.navbar {
	font-weight: bold;
}

.navbar ul{
	list-style-type: none;
	overflow: hidden;
	background-color: rgb(56, 56, 56);
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar li {
	float:right;
}

.navbar a, .navbar p {
	float: left;
	color: whitesmoke;
	text-align: center;
	padding: 1vh 0.75vw;
	text-decoration: none;
	display: inline;
	user-select: none;
}

.navbar li > a:hover {
	background-color: #ff4d5a;
	transition: all 500ms ease;
	border-radius: 4rem;
}

.hero-section{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: back-gradient 12.5s ease infinite;
	height: 100%;
	position: relative;
	text-align: center;
	padding-top: 30vh;
	text-shadow: .25rem .25rem .25rem rgb(88, 88, 88);
	user-select: none;
}

.arthur {
    width: 8rem;
    border-radius: 8rem;
	margin: 1rem 0 0 1rem;
}

span {
	height: 0.25rem;
	border-radius: 0.25rem;
	background: #ff4d5a;
	position: absolute;
	display: block;
}

.about,.skills,.projects,.contact {
	position: relative;
	font-size: 2vw;
	background-color: rgb(56, 56, 56);
	background-size: 100% 100%;
	height: 100%;
	overflow: hidden;
	color: whitesmoke;
}

.about {	
	text-align: left;
	padding: 15vh 5vw 0 5vw;
	text-decoration: none;
}

.about span {
	display: block;
	width: 12vw;
	background: #ff4d5a;
}

.about p {
	padding-top: 1vh;
	font-size: 100%;
	font-weight: bold;
}

.b1,.b2 {
	margin-top: 1.5vh;
	border: 0;
	height: 5vh;
	width: 7vw;
	border-radius: 0.25rem;
	box-shadow: 0 0 0.2rem rgb(253, 241, 171);
	font-size: 75%;
	font-weight: bold;
	color: inherit;
	text-decoration: none;
	
}

.b1 {
	position: relative;
	background: linear-gradient(135deg, #f34079 40%, #fc894d);
	z-index: 1;
}

.b1::before {
	background: linear-gradient(-45deg, #f403d1, #64b5f6);
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	transition: opacity 0.5s linear;
	opacity: 0;
}
.b2 {
	position: relative;
	background: linear-gradient(to bottom right, #fcd34d, #ef4444, #ec4899);
	z-index: 1;
}

.b2::before {
	background: linear-gradient(-45deg, #64b5f6, #f403d1); 
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	transition: opacity 0.5s linear;
	opacity: 0;
}

.b1:hover::before {
	opacity: 1;
}
.b2:hover::before {
	opacity: 1;
}

.programming {
	width: 30vw;
	height: 40vh;
	position: relative;
	padding-top: 1vh;
}

.programming2 {
	width: 50vw;
	height: 40vh;
	position: relative;
	padding-left: 10vw;
}

.skills h4 {
	text-align: center;
	padding-top: 15vh;
}

.skills span {
	position: absolute;
	left: 45vw;
	display: block;
	width: 9.5vw;
}

.skills ul{
	font-size: 35%;
	font-weight: bold;
	border-radius: 1rem;
	text-align: center;
	list-style: none;
	width: 10vw;
	height: 25%;
	box-shadow: 0 0 0.2rem rgb(253, 241, 171);
	margin-top: 24vh;
	scale: 250%;
}

.skills .sktop {
	font-weight: bold;
}

.skills ul:hover {
	transition: all .25s linear;
	scale: 260%
}

.skills li {
	margin-top: 1vh;
	font-weight: normal;
}

.technical {
	position: absolute;
	left: 18vw;
	background: #085078; 
	background: linear-gradient(-45deg, #f403d1, #64b5f6);
}

.sktools {
	position: absolute;
	left: 45vw;
	background: linear-gradient(-45deg, #ffec61, #f321d7);
}

.otskills {
	position: absolute;
	left: 72vw;
	background: linear-gradient(-45deg, #9a4eff, #ffec61);
}

.projects span {
	width: 9.5vw;
	position: absolute;
	left: 45vw;
}

.projects h5 {
	text-align: center;
	padding-top: 15vh;
}

.gauntlet, .arfish {
	width:37.8125rem;
	height:22.5rem;
	position: absolute;
	margin-top: 8%;
	scale: 150%;
}

.gauntlet {
	position: relative;
	margin-left: 15%;
}

.arfish {
	position: relative;
	margin-left: 22%;
}

.projects div p {
	display: inline-block;
	margin: 4% 7% 0 17%;
	font-size: 75%;
}

.sidenote {
	text-align: center;
	margin-top: 4%;
	font-size: 50%;
}

.contact {
	text-align: left;
	padding: 5vh 5vw 0 5vw;
	text-decoration: none;
	background-color: #434242;
	height: 50%;
}

.contact h6 {
	color: whitesmoke;
}

.contact span {
	background-color: #ff4d5a;
	width: 15rem;
}

.contact ul {
	padding-top: 2%;
}

.contact li {
	list-style: none;
	padding-top: 2%
}

.contact li:hover {
	color: #ff4d5a;
	transition: all 500ms ease;
}

@keyframes back-gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

@keyframes color-change {
	0% {color: #ee7752;}
	50% {color:greenyellow;}
	100% {color: #ee7752;}
  }

